<button class="btn btn-success" (click)="newReceipe()">New Receipe</button>
<button class="btn btn-warning ml-2" (click)="filter('Veg')">Veg</button>
<button class="btn btn-danger ml-2" (click)="filter('Non-Veg')">Non-Veg</button>
<button class="btn btn-success ml-2" (click)="filter('All')">All</button>
<div class="row no-gutters">
    <div class="w-100">
        <app-receipe-item [receipe]="receipeEl" [index]="i" 
         *ngFor="let receipeEl of receipes;let i=index" >
        </app-receipe-item>
    </div>  
</div>