<button class="btn btn-primary" [disabled]="state">{{responseMessage}}</button>

<input type="text" [(ngModel)]="serverName">
<p *ngIf="serverStatus">{{serverName}}</p>
<!-- <button (click)="checkEmptyString()" [disabled]="serverName===''">Click here</button> -->

<p [ngStyle]="{backgroundColor:getColor()}" [ngClass]="{online:serverName==='online'}">{{serverName}}</p>

<button class="btn btn-primary" (click)="getLogInfo()">Display Details</button>
<p *ngIf="secretShare">Secret</p>
<div *ngFor="let logItem of log">{{logItem}}</div>

