.card-wrapper{
    width:100% !important;
    height: 350px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    .card-image{
        width: 100%;
        height: 60%;
        .receipeImage{
            object-fit: cover;
            height:200px;
            width: 100%;
        }
    }
}

a{
  text-decoration: none;  
}

