<h5 class="mt-2">Click an item for Receipe Details</h5>
<div class="my-5">
    <p class="description">{{receipeDetails.name}}</p>
    <p class="description">{{receipeDetails.description}}</p>
    <div class="btn-group my-2" (click)="manageReceipeDropdown()" *ngIf="receipeDetails.name!==undefined">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Recepie
        </button>
        <div class="dropdown-menu" [ngClass]="{'show': isShow===true}" [ngStyle]="{'cursor':'pointer'}">
          <a class="dropdown-item" (click)="sendIngredients(receipeDetails.ingredient)">ShoppingList</a>
          <a class="dropdown-item" (click)="editReceipe()">Edit Receipe</a>
          <a class="dropdown-item" (click)="deleteReceipe()">Delete Recepie</a>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of receipeDetails.ingredient">{{ingredient.ingredientName}} ({{ingredient.quantity}})</li>
    </ul>
</div>